.header {
    font-size: 30px;
    background: #333;
    color: white;
    margin-top: auto;
    padding: 5px;
    font-family: sans-serif;
  }
  .header-p {
    margin-top: 5px;
  }
  
  .header-a {
    color: teal;
    text-decoration: none;
  }
  
  